<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.custom"
      android:versionCode="1"
      android:versionName="1.0">


    <application android:name="com.custom.MainApplication" android:icon="@drawable/icon" android:label="@string/app_name">
        <activity android:name="CustomDemo"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

		<!-- 开机接收广播 -->
		<receiver android:name="com.custom.broadcast.BootBroadcastReceiver">
			<intent-filter>
				<action android:name="android.intent.action.BOOT_COMPLETED" />
			</intent-filter>
		</receiver>
		
		<!-- 启动服务广播 -->
		<receiver android:name="com.custom.broadcast.StartServiceReceiver">
			<intent-filter>
				<action android:name="com.custom.broadcast.StartServiceReceiver" />
			</intent-filter>
		</receiver>	
		
    </application>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.INSTALL_PACKAGES"></uses-permission>
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    
 
    
</manifest>