<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="longma.achai.test" android:versionCode="1" android:versionName="1.0" android:sharedUserId="longma.achai">
	<uses-sdk android:minSdkVersion="8" />

	<application android:icon="@drawable/ic_launcher"
		android:label="@string/app_name">
		<activity android:name="longma.achai.InstallAppDemo"
			android:label="测试">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />

				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
		<!-- 开机接收广播 -->
		<receiver android:name="longma.achai.StartServiceReceiver">
			<intent-filter>
				<action android:name="android.intent.action.ACTION_TIME_CHANGED" />
				<action android:name="android.intent.action.DATE_CHANGED" />
			</intent-filter>
		</receiver>
		<!-- 提供其他服务调用服务 -->
		<service android:name="longma.achai.AidlRunService">
		</service>
		<!-- 这2个配置是在使用ActivityInstrumentationTestCase2做自动化测试使用
		<instrumentation android:targetPackage="longma.achai" android:name="android.test.InstrumentationTestRunner" />
		<uses-library android:name="android.test.runner" />
		 -->
	</application>
	<uses-permission android:name="android.permission.SET_ACTIVITY_WATCHER" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.INSTALL_PACKAGES"></uses-permission>
	<uses-permission android:name="android.permission.READ_PHONE_STATE" />
	<uses-permission android:name="android.permission.INJECT_EVENTS" />
	<uses-permission android:name="android.permission.SET_ACTIVITY_WATCHER" />
	
</manifest>