<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.custom.view"
      android:versionCode="1"
      android:versionName="1.0"
      android:sharedUserId="com.custom">
    <application android:name="com.custom.utils.MainApplication"  android:icon="@drawable/icon" android:label="@string/app_name">

       <!-- 
		<provider android:name="com.custom.provider.NotePadProvider"
			android:readPermission="android.permission.READ_CALENDAR"
			android:writePermission="android.permission.WRITE_CALENDAR"
			android:authorities="com.custom.view.provider.notepad" />
		<activity android:name="com.custom.provider.ProviderTest" android:label="provider 测试">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
			<intent-filter>
				<data android:mimeType="vnd.android.cursor.dir/vnd.google.note">
				</data>
			</intent-filter>
			<intent-filter>
				<data android:mimeType="vnd.android.cursor.item/vnd.google.note">
				</data>
			</intent-filter>
		</activity>  
		-->
		<activity android:name="com.custom.activity.IndexActivity" 
			android:configChanges="orientation|keyboardHidden" android:screenOrientation="landscape">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" /> 
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
		<activity android:name="com.custom.activity.FlashView" 
			android:configChanges="orientation|keyboardHidden" android:screenOrientation="landscape">
		</activity>		
				<!-- 查询已经安装数据广播 -->
		<receiver android:name="com.custom.update.InitDataFoldReceiver">
			<intent-filter>
				<action android:name="com.custom.update.InitDataFoldReceiver" />
			</intent-filter>
		</receiver>
		
    </application>
    <uses-sdk android:minSdkVersion="7" />
    <uses-permission android:name="android.permission.DEVICE_POWER"/>
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.INSTALL_PACKAGES"></uses-permission>
</manifest>